#topo {
    background-color: brown;
}
#menu {
    background-color: rgb(28, 129, 218);
}
.destaques, .produto, .sobre, .contato {
    background-color: burlywood;
}
#rodape {
    background-color: aquamarine;
}